<nav class="navbar">
  <div class="site-title">
    <h1>Grocery Store</h1>
  </div>
  <ul class="nav-links">
    <li class="nav-item"><a class="link catalog" href="/">Product Catalog</a></li>
    <li class="nav-item"><a class="link ordinary" href="/">Home</a></li>
    <li class="nav-item"><a class="link ordinary" href="/">About Us</a></li>
    <li class="nav-item"><a class="link ordinary" href="/">Contact</a></li>
  </ul>
</nav>