<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main class="page-content">
    <div class="main-content">
      <div class="header-addBtn">    
        <h1>Products</h1>
        <a href="/products/new">Add product</a>
      </div>  
    </div>
  </main>
</body>
</html>