* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-item {
  font-weight: 600;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #02020A;
  padding: 0.75rem 1rem;
}

.link.catalog {
  border-radius: 0.5rem;
  background-color: #B47AEA;
  color: white;
}

.link.ordinary:hover {
  color: #B47AEA;
  transform: scale(1.2);
}